<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuehai.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.yuehai.entity.UserEntity">
        <result column="uid" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--User操作-->
    <sql id="User_Column_List">
        select uid,
               user_name,
               password,
               email,
               nick_name,
               phone,
               avatar,
               status,
               create_time,
               update_time
        from tb_user</sql>

    <insert id="insertUser" parameterType="com.yuehai.entity.UserEntity">
        insert into tb_user(user_name, password, phone, email, status)
        values (#{userName}, #{password}, #{phone}, #{email}, #{status})
    </insert>

    <delete id="deleteUser" parameterType="Long">
        delete
        from tb_user
        where uid = #{value}
    </delete>

    <update id="updateUser" parameterType="com.yuehai.entity.UserEntity">
        update tb_user
        <set>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
        </set>
        where uid = #{id}
    </update>

    <select id="selectUserById" parameterType="Long" resultMap="UserResultMap">
        <include refid="User_Column_List"/>
        where uid = #{value}
    </select>

    <select id="selectUserByName" parameterType="String" resultMap="UserResultMap">
        <include refid="User_Column_List"/>
        where user_name = #{value}
    </select>

    <select id="selectUserByPhone" parameterType="String" resultMap="UserResultMap">
        <include refid="User_Column_List"/>
        where phone = #{value}
    </select>

    <select id="selectUserByEmail" parameterType="String" resultMap="UserResultMap">
        <include refid="User_Column_List"/>
        where email = #{value}
    </select>

    <select id="selectAllUser" resultMap="UserResultMap">
        <include refid="User_Column_List"/>
    </select>

    <select id="selectAllVip" resultMap="UserResultMap">
        <include refid="User_Column_List"/>
        u,
        tb_role r,
        tb_user_role u_r
        where r.role_name = 'ROLE_VIP'
        and r.role_code = u_r.role_code
        and u.uid = u_r.user_id
    </select>

    <!--Role操作-->
    <resultMap id="RoleResultMap" type="com.yuehai.entity.RoleEntity">
        <result column="role_code" property="code" jdbcType="INTEGER"/>
        <result column="role_name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertUserRole">
        insert into tb_user_role(user_id, role_code)
        values (#{userId,jdbcType=BIGINT}, #{roleCode,jdbcType=INTEGER})
    </insert>

    <delete id="deleteUserRoles" parameterType="Long">
        delete
        from tb_user_role
        where user_id = #{value}
    </delete>

    <delete id="deleteUserRole" parameterType="Long">
        delete
        from tb_user_role
        where user_id = #{userId,jdbcType=BIGINT}
          and role_code = #{roleCode,jdbcType=INTEGER}
    </delete>

    <select id="selectRoleByUserId" parameterType="Long" resultMap="RoleResultMap">
        select r.role_code,
               r.role_name
        from tb_role r,
             tb_user_role u_r
        where u_r.user_id = #{value}
          and r.role_code = u_r.role_code
    </select>

    <select id="selectRoleCodeByUserId" parameterType="Long" resultType="Integer">
        select role_code
        from tb_user_role
        where user_id = #{value}
    </select>
</mapper>